.q-button {
    border: 0ch;
    margin: 0cm;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 2em 3em;
    font-weight: 600;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.q-div {
    box-shadow: 7px 12px grey;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.q-div:hover {
    transform: scale(1.1);
}

.stupido-div {
    display: flex;
    align-items: center;
}

.grid-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .q-button {
        font-size: medium;
    }
    .stupido-div {
        width: 450px;
        height: 150px;
    }
}

@media only screen and (min-width: 600px) {
    .q-button {
        font-size: large;
    }
    .stupido-div {
        width: 490px;
        height: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .q-button {
        font-size: large;
    }
    .stupido-div {
        width: 580px;
        height: 140px;
    }
}

@media only screen and (min-width: 992px) {
    .q-button {
        font-size: x-large;
    }
    .stupido-div {
        width: 750px;
        height: 170px;
    }
}

@media only screen and (min-width: 1200px) {
    .q-button {
        font-size: xx-large;
    }
    .stupido-div {
        width: 900px;
        height: 200px;
    }
}

@media only screen and (min-width: 1500px) {
    .q-button {
        font-size: xx-large;
    }
    .stupido-div {
        width: 1000px;
        height: 200px;
    }
}

@media only screen and (min-width: 1800px) {
    .q-button {
        font-size: xx-large;
    }
    .stupido-div {
        width: 1200px;
        height: 250px;
    }
}